<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info">
                <div class="row">
                    <div class="col-9">                
                        <h3 class="heading-title">Customer Master</h3>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col">
                                <button class="btn-primary text-white btn btn-block btn-sm"  title="New Customer" style="float: right" (click)="goToDetailForm('new','customer')">
                                    <mat-icon>add</mat-icon> <!--New Customer-->
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn-danger text-white btn btn-block btn-sm"  title="Search Customer" style="float: right" (click)="searchCustomer()">
                                    <mat-icon>search</mat-icon> <!--Search Customer-->
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn-warning text-white btn btn-block btn-sm" [routerLink]="['/finance/general-ledger']" title="Return to Customer List" style="float: right">
                                    <mat-icon>arrow_back</mat-icon> <!--Return to List-->
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3">
                            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search customers..." />
                        </div>
                        <table class="table table-hover table-responsive-xxl">
                            <thead class="table-dark">
                                <tr class="table-reflow">
                                    <th>PCODE</th>
                                    <th>CUSTOMER NAME</th>
                                    <th>COUNTRY</th>                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cust of (customerList | filterTable:searchText| slice:0:5); let i = index;">
                                    <td>{{ cust.PCODE }}</td>
                                    <td>{{ cust.CUST_NAME }}</td>
                                    <td>{{ cust.Country }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-secondary" (click)="goToDetailForm(cust.PCODE, 'customer')" title="View Customer Details">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-8">
                        <form [formGroup]="custForm" class="form-container">
                            <div class="row">
                                <div class="col-2">
                                    <mat-label >Customer Code </mat-label>
                                    <input  matInput class="form-control form-control-sm" #pcode formControlName="pcode" readonly >
                                </div>
                                <div class="col-8">
                                    <mat-label >Name</mat-label>
                                    <input formControlName="custName"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-2">
                                    <mat-label >Active</mat-label>
                                    <mat-select class="form-control form-control-sm" formControlName="custStatus" readonly>
                                        <mat-option value="A">True</mat-option>
                                        <mat-option value="I">False</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <mat-label>Divison</mat-label>
                                    <input formControlName="division"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Sales Category</mat-label>
                                    <input formControlName="salesCat"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Organisation</mat-label>
                                    <input formControlName="organisation"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Industry</mat-label>
                                    <input formControlName="industry"  matInput class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-label>Tax Number</mat-label>
                                    <input formControlName="custTaxNo"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>National ID</mat-label>
                                    <input formControlName="custCR"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>Branch</mat-label>
                                    <input formControlName="custBranch"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>Account Type</mat-label>
                                    <input formControlName="custAccountType"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col">
                                    <mat-label>Account Category</mat-label>
                                    <input formControlName="custAccountCategory"  matInput class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <mat-label>Phone 1</mat-label>
                                    <input formControlName="custPhone1"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Phone 2</mat-label>
                                    <input formControlName="custPhone2"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Mobile</mat-label>
                                    <input formControlName="mobile"  matInput class="form-control form-control-sm" readonly>
                                </div>
                                <div class="col-3">
                                    <mat-label>Email</mat-label>
                                    <input formControlName="custEmail"  matInput class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <mat-label>Address Line 1</mat-label>
                                    <input formControlName="custAdd1"  matInput class="form-control form-control-sm">
                                </div>
                                <div class="col-4">
                                    <mat-label>Address Line 2</mat-label>
                                    <input formControlName="custAdd2"  matInput class="form-control form-control-sm">
                                </div>
                                <div class="col-4">
                                    <mat-label>Address Line 3</mat-label>
                                    <input formControlName="custAdd3"  matInput class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <mat-label>Opening Balance (KWD)</mat-label>
                                    <input formControlName="opbal" matInput class="form-control form-control-sm">                                
                                </div>
                                <div class="col-8">
                                    <mat-label>Remarks</mat-label>
                                    <input formControlName="remarks"  matInput class="form-control form-control-sm">
                                </div>
                            </div>
                            <hr>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>   
</div>
<br>

<ng-template #customerLookupDialog >
    <h3 matDialogTitle>
        <b>Search Customer</b>
    </h3>
    <hr>
    <!-- Search Bar -->
    <div class="row d-flex align-items-center">
        <div class="col-auto">
            <mat-icon>search</mat-icon>
        </div>
        <div class="col">
            <input type="text" style="color: black;" 
                   placeholder="Enter search keyword..." 
                   class="form-control form-control-sm" 
                   #search 
                   (keyup)="quickCustomerSearch(search.value)">
        </div>
    </div>
    <div mat-dialog-content>
        <!-- Table -->
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>PCODE</th>
                    <th>CUSTOMER NAME</th>
                    <th>MOBILE</th>
                    <th>EMAIL</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cust of CustomerSearchList; let i = index;">
                    <td>{{cust.PCODE}}</td>
                    <td>{{cust.CUST_NAME}}</td>
                    <td>{{cust.MOBILE}}</td>
                    <td>{{cust.EMAIL}}</td>
                    <td>
                        <button mat-raised-button class="bg-warning text-white btn btn-block" (click)="goToDetailForm(cust.PCODE,'customer')">
                            <mat-icon>arrow_forward</mat-icon>                                            
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <br>
</ng-template>